.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @media (min-width: 530px) {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin: 0 auto;

    @media (min-width: 530px) {
      position: absolute;
      left: 0;
    }

  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;

    @media (min-width: 530px) {
      text-align: left;
      font-size: 1.875rem;
      margin-top: 1em;
    }
  }
}
