.page-section {
  padding: 1.2rem 0;

  @media (min-width: 800px) {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @media (min-width: 800px) {
      padding-bottom: 4.5rem;
    }

  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @media (min-width: 1010px) {
      padding-bottom: 4.5rem;
    }

  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--testimonials {
    background-color: #E0E6EF;

    @media (min-width: 1010px) {
      background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
      background-size: cover;
    }
  }
}
