.primary-nav {
  padding-top: 10px;

  @media (min-width: 800px) {
    padding-top: 0;
  }

  &--pull-right {
    @media (min-width: 800px) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    @media (min-width: 800px) {
      float: left;
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;
    @media (min-width: 800px) {
      padding-right: 20px;
    }
  }

  a {
    color: #FFF;
    font-weight: 200;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba($mainBlue, .5);

    @media (min-width: 800px) {
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;
    }
  }
}
