.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @media (min-width: 530px) {
    font-size: 3.75rem;
  }

  strong {
    font-weight: 500;
  }

  &--blue {
    color: $mainBlue;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @media (min-width: 530px) {
      position: relative;
      top: 8px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }
}
