.social-icons {
  text-align: center;

  &__icons {
    background-color: $mainOrange;
    display: inline-block;
    margin: 0 5px 5px 5px;
    width: 33%;
    height: 72px;
    position: relative;

    @media (min-width: 530px) {
      width: 72px;
      margin: 0 5px;
    }

    .icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
